.banner-contenido {
    white-space: :nowrap;
    overflow: hidden;
    margin-left: 20rem;
}
h3 {
    font-weight: lighter
}
button {
    font-weight: bold;
    border-radius: 24px;
    height: 48px;
    padding-top: 2px;
    padding-left: 24px;
    padding-right: 24px;
    background: #ffd4db;
}
.subrayado {
    text-decoration: underline;
}
.boton-black {
    background: #000;
    color:white;
}
#fondo {
    background-color: aqua
    
}
ul {
    background-color: aqua;
    list-style-type: none;
    
}
li {
    float: right;
}

.elige {
    margin: 90px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.elige h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
}
.elige h4{
    text-align: center;
    font-size: 18px;
}
.tabla {
    width: 85%;
    margin: auto
    margin-top: 25px;
    border-spacing: 10px;
}

.elige tr ,
 td {
    border: 1px solid rgb(170,164,164);
    border-radius: 15px;
    padding: 20px;
    vertical-align: top;
    width: 25%;
}
.color {
    border: 5px black dotted
}

.elige .azul {
    width: 75%;
    margin: 5px;
    color:white;
    font-weight: bold;
    background-color: #1572e2;

}

